{% extends 'base.html' %}
{% block content %}
<div class="contact-section">
    <h1>CONTACT Entebbe Flying School</h1>
    <p>We are ready to answer your questions and guide you toward your career in aviation.</p>

    <h3>OUR LOCATION</h3>
    <p>We are conveniently located in Entebbe Busambagga, Uganda</p>

    <h3>GET IN TOUCH</h3>
    <p><strong>Phone:</strong> +256 773463909(Call/WhatsApp our admissions line)</p>
    <p><strong>Email:</strong> info@entebbeflyingschool.com</p>

    <h3>OFFICE HOURS</h3>
    <p>Monday - Friday: 8:00 AM – 5:00 PM</p>
    <p>Saturday: 9:00 AM – 1:00 PM</p>
</div>
{% endblock %}